
/** {
    border: 2px dashed blue;
}*/

::-webkit-scrollbar {
    display: none;
}

body {
  margin: 0;
  background-color: black;
} 

div {
    display: inline-block;
    float: left;
}

p {
    font-family: sans-serif;
    font-size: 20px;
}

a * {
    margin: 0%;
}

.project {
    height: 210px;
    margin: 1% 2% 1% 2%;
}

.repo {
    width: 40px;
}

.social {
    width: 40px;
}

.lang {
    height: 40px;
}

#book {
    height: 95vh;
    width: 95vw;
    margin: 1% 2% 1% 2%;
    overflow: hidden;
    /* For iphones */
    position: fixed; 
}

#spine {
    background-image: url("portfolio-black-texture.png");
    background-color: #281719;
    height: 98%;
    width: 10%;
    border-style: outset;
    border-color: #673832;
}

#paper {
    height: 99.5%;
    width: 88%;
    background-image: url("portfolio-yellow-texture.png");
    background-color: #f2ecba;
    overflow-y: auto;
    border-right: double;
    border-bottom: double;
}

#bio {
    width: 100%;
    margin-bottom: 2%;
}

#bio h1 {
    margin: 0;
}

#myFace {
    width: 8vw;
    float: left;
}

#socialButtons {
    margin: 0;
}

/*When screen is longer than it is wide*/
@media screen and (max-aspect-ratio: 5/4) {

    #bio {
        height: 22%;
        width: 100%;
    }
    #bio h1 {
        font-size: 90%
    }
    #socialButtons {
        margin: 0;
        width: 80%;
    }
    #socialButtons a {
        margin: 0;
    }
}

@media screen and (max-width: 280px) {
    #bio h1 {
    }
}

@media screen and (max-height: 120px) {
}

