
/** {
    border: 2px dashed blue;
}*/

::-webkit-scrollbar {
    display: none;
}

body {
  margin: 0;
  background-image: url("wood-texture.jpg");
} 

div {
    display: inline-block;
    float: left;
}

h1 {
    font-family: "Comic Sans MS", sans-serif;
}

h3 {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 4vw;
    display: inline;
}

h4 {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 2.5vw;
    display: inline;
}


a {
    text-decoration: none !important;
    color: black;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a * {
    margin: 0%;
}

.project {
    height: 210px;
    margin: 1% 2% 1% 2%;
}

.project-big {
    height: 95%;
    margin: 1% 2% 1% 2%;
}

.repo {
    width: 40px;
}

.social {
    width: 50%;
    margin: 20% 0% 0% 20%;
}

.lang {
    height: 80px;
}

.navIcon {
    width: 4vw;
}

.spine {
    background-image: url("book-texture.jpg");
    background-color: #281719;
    text-align: center;
    height: 99%;
    width:99%;
}

.paper {
    background-image: url("portfolio-yellow-texture.png");
    background-color: #f2ecba;
}

.paper-inner {
    height: 92%;
    width: 92%;
    margin: 4%;
    overflow-y: auto;
}

.spine h1 {
    color: #000000;
    font-size: 7vw;
    margin-top: 10%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.2);
}

.spine h2 {
    color: #000000;
    font-size: 3vw;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.2);
}

.site {
    height: 70%;
}

.ui-loader {
    display: none;
}

#menu {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

#navbar {
    margin-top: 4%;
    margin-left: 40vw;
}

#alert {
    z-index: 3;
    position: fixed;
    top: 35vh;
    left: 35vw;
    font-size: 5vh;
    color: #ffffff;
}

#alert img {
    width: 80%;
}

#book {
    height: 120vh;
    width: 79vw;
    margin-top: 4%;
    margin-left: 2vw;
    overflow: hidden;
    /* For iphones */
    position: fixed; 
}

#myFace {
    width: 35vw;
    float: left;
}

/*When screen is longer than it is wide*/
@media screen and (max-aspect-ratio: 5/4) {

    #myFace {
    }
}

@media screen and (max-width: 820px) {
    .paper-inner {
        height: 80%;
        width: 80%;
        margin: 10%;
    }
}

@media screen and (max-height: 320px) {
    .paper-inner {
        height: 70%;
        width: 70%;
        margin: 15%;
    }
}

