
/** {
    border: 2px dashed blue;
}*/

body {
  margin: 0;
  background: #ffffc7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ffffc7 , #f2ecba); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ffffc7, #f2ecba); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ffffc7, #f2ecba); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ffffc7 , #f2ecba); /* Standard syntax */
} 

div {
    display: inline-block;
    float: left;
}

div * {
    margin: 0.7vw;
}

h1 {
    font-family: Arial;
    font-size: 4vw;
}

h3 {
    font-family: Verdana;
    font-size: 1vw;
}

p {
    font-family: sans-serif;
    font-size: 2vw;
}

.repo {
    width: 4vw;
}

.social {
    width: 4vw;
}

.lang {
    height: 4vw;
}

#myFace {
    width: 20vw;
}

#spine {
    background-color: #382829;
    min-height: 100vh;
    width: 5vw;
}

#bio {
    height: 100vh;
    width: 25vw;
}

#main {
    height: 100vh;
    width: 65vw;
}

#bio h2 {
    font-size: 1.2vw;
}
#bio h1 {
    font-family: cursive;
    font-size: 2vw;
}

@media screen and (min-aspect-ratio: 1/1) {
    body {
        /*background: black;*/
    }
}