
/** {
    border: 2px dashed blue;
}*/

body {
  display: flex;
  margin: 0;
  overflow-x: hidden;
  background: #f2ecba; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ffffc7 , #f2ecba); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ffffc7, #f2ecba); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ffffc7, #f2ecba); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ffffc7 , #f2ecba); /* Standard syntax */
} 

div {
    display: inline-block;
    float: left;
}

div * {
    margin: 2%;
}

p {
    font-family: sans-serif;
    font-size: 20px;
}

a * {
    margin: 0%;
}

.repo {
    width: 20px;
}

.social {
    width: 20px;
}

.lang {
    height: 20px;
}

#spine {
    background-color: #281719;
    min-height: 100vh;
    width: 9vw;
}

#bio {
    min-height: 100vh;
    width: 20vw;
    background-color: #ad2a26;
    display: flex;
    flex-direction: column;
}

#main {
    height: 100vh;
    width: 70vw;
    overflow-x: hidden;
    overflow-y: auto;
}

#bio h1 {
    font-size: 2.5vw;
    margin: 1% 9% 1% 9%;
}

#myFace {
    width: 14vw;
    object-fit: scale-down;
    margin: 4vh 11% 1% 11%;
}

#socialButtons {
    margin: 2vh 10% 0% 10%;
}

#navBar {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 8%;
}
#navBar img {
    height: 100%;
    margin: 0;
}

/*When screen is longer than it is wide*/
@media screen and (max-aspect-ratio: 5/4) {
    body {
        flex-direction: column;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    .social {
        height: 20px;
        width: auto;
    }
    #spine {
        height: 10vh;
        min-height: 0;
        width: 100vw;
        min-width: 0;
    }
    #bio {
        min-height: 0;
        height: 22vh;
        width: 100vw;
        max-width: 100vw;
        flex-direction: row;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #main {
        height: 69vh;
        width: 100vw;
    }
    #bio h1 {
        font-size: 20px;
        margin: 1%;
    }
    #socialButtons {
        margin: 0;
        width: 80%;
    }
    #socialButtons a {
        margin: 0;
    }
    #myFace {
        margin: 2% auto 2% 2%;
        height: 18vh;
        width: auto;
        max-width: 30%;
    }
}

@media screen and (max-width: 280px) {
    #bio h1 {
        font-size: 15vw;
    }
    #myFace {
        display: none;
    }
}

@media screen and (max-height: 120px) {
    #myFace {
        display: none;
    }
}